
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-water:before { content: '\e802'; } /* '' */
.icon-temperatire:before { content: '\e803'; } /* '' */
.icon-flash:before { content: '\e804'; } /* '' */
